@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  text-align: center;
  /* color: white; */
}
html {
  /* height: 100%; */
}
html,
body {
  min-height: 100%;
  /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../../static/fleet.jpg) no-repeat center center fixed; */
  background-color: black;
  /* animation: hero 4s forwards; */
}
@keyframes hero {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.hero-img-background {
  /* border: 3px solid aqua; */
  /* font-size: 4rem; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  height: 100vh;
  /* height: 200px; */
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../../static/fleet.jpg) no-repeat center center fixed;
  /* -webkit-background-size: cover; */
  -moz-background-size: cover;
  -o-background-size: cover;

  -webkit-background-size: cover;
  background-size: cover;
  animation: hero 4s ease forwards;
  position: relative;
  /* display: flex; */
  justify-content: center;
  z-index: 0 !important;
}
.bring-forward {
  position: absolute;
  top: 0;
  z-index: 999;
}
.hero-img-background > img {
  animation: hero 4s ease forwards;
}
/* body {
  background: radial-gradient(
    at top left,
    rgba(146, 43, 225, 1) 0%,
    rgba(43, 9, 107, 1) 100%
  );
  background-repeat: no-repeat;
} */
body {
  /* background: rgb(0, 0, 0) 100%; */
}
.background-image-container {
  /* border: 1px solid pink; */
  width: 100%;
  height: 100vh;
}
.background-image {
  border: 1px solid blue;
  width: 100%;
}
.logo-hero {
  /* border: 1px solid pink; */
  margin: 50px 0px 100px 00px;
  width: 33%;
}
.logo-elite {
  width: 100px;
}
.logo-hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}
.depend-on {
  color: red;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  /* max-width: 2000px; */
  margin: 0 auto;
}

.navbar {
  display: flex;
  /* border: 1px solid pink; */
  /* padding-left: 20px; */
  justify-content: space-between;
  /* margin-top: 100px; */
  padding: 40px 50px 0 50px;
}

nav a {
  /* display: flex; */
  /* border: 1px solid brown; */
  /* align-items: space-around; */
  text-align: right;
  /* padding-bottom: 8px; */
  border-bottom: 2px solid transparent;
}
nav a:hover {
  border-color: white;
  /* transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1); */
}
/*
footer p {
  text-align: center;
  color: #bbb;
  margin: 40px auto;
} */
.containerGray {
  background-color: #bf1214 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  /* z-index: 999; */
}
.containerGrayOutside {
  background-color: #bf1214 !important;
  border-radius: 10px;
  padding-top: 30px;
  text-align: center;
  color: white;
}
.services-text {
  padding-bottom: 10px;
}
.card {
  width: 250px;
  height: 200px;
  margin: 20px 20px 20px 20px;
  padding: 24px;
  /* border: 1px solid black; */
  border-radius: 12px;
  text-decoration: none;
  background-color: white;
  border-color: white;
  cursor: pointer;
  border-style: solid;
  /* color: black; */
}

.hide {
  /* visibility: hidden; */
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  z-index: 99998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  height: 400px;
  width: 400px;
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: #fffff0;
  /* color: black; */
}
.black-text {
  color: black;
}
.white-text {
  color: white;
}
.icon-fa {
  /* border: 1px solid green; */
  color: black !important;
  margin-right: 20px;
  /* height: 20px; */
}
.buttons {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid pink; */
}

@media screen and (max-width: 950px) {
  .buttons {
    flex-direction: column;
  }
}
@media screen and (max-width: 579px) {
  .card {
    /* border: 3px solid blue; */
    width: 350px;
    height: 100px;
  }
}
.paddingLeft {
  padding-left: 10px;
}
.paddingRight {
  padding-right: 10px;
}
.paddingTop {
  padding-top: 20px;
}
.paddingBottom {
  padding-bottom: 20px;
}
#loading {
  /* display: flex; */
  /* position: relative;
  top: 50%; */
  /* align-items: center;
  justify-content: center; */
  /* width: 50px; */
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  margin: auto;
  width: 50px;
  /* border: 1px solid pink; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* border: 3px solid green; */
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
